.modalTitle {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 1.5rem;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #111;
  flex-direction: row-reverse;

  button {
    margin-top: -5px;
  }
}
